* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #cbc1c1;
  color: #fff8f8;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

main {
  flex-grow: 2;
}
 
.logo {
  width: 20%;
}

.nav-button {
  background-color: #cbc1c1;
  color: #430404;
  font-size: 0.8em;
  text-decoration: none;
  padding: 10px 15px;
  box-shadow: 2px 2px #818181;
  border-radius: 10px;
  margin-inline: 2px;
}

.nav-button:hover {
  background-color: #e5d4d4;
}
.nav-header {
  background-color: #430404;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

.header-home {
  background-color: #811313;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.next-prev-symbol {
  font-size: 2rem;
}

.form-search-bar {
  display: flex;
  justify-content: space-around;
}

.checkbox-container {
  gap: 1em;
}

.display-flex-center {
  display: flex; 
  justify-content: center;
}

.display-flex-center > form {
  display: flex;
  flex-direction: column;
}

.contact-button {
  margin-top: 1em;
  align-self: flex-end;
  font-size: 1em;
}
fieldset {
  all: inherit;
  padding: 1rem;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
  gap: 1.2em;
}

input, textarea {
  font-size: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  height: 80%;
}

.card > img {
  width: 330px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1em;
}

.bottom-card {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  gap: 1.5em;
}

.button-more {
  border-radius: 1em;
  background-color: #863838;
  padding: 0.6em;

  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

.button-more:hover {
  background-color: #e97a7a;
}

.stats-table {
  display: flex;
  justify-content: center;
  padding: 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: #b23f3f;
}

.detail-section {
  height: 90%;
}

.detail-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-article {
  background-color: #c2b4b4;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
  width: 50%;
  border: 1px solid black;
}

.detail-card {
  background-color: #662828;
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-position {
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
  justify-content: flex-end;
}

footer {
  background-color: #430404;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

footer > p {
  color: white;
}

.footer-logo {
  width: 5%;
  margin-inline: 1em;
}

/* Responsive */

.lens-container {
  display: none;
}

.checkbox-menu {
  display: none;
}

.nav-menu {
  display: none;
}

@media only screen and (max-width: 1260px) {
  .figure-logo {
    width: 30%;
  }
  .logo{
    width: 40%;
  }
  footer > p {
    width: 20%
  }
}

@media only screen and (max-width: 1060px) {
  .checkbox-container {
    display: none;
  }
  .checkbox-menu {
    display: block;
  }
  select {
    font-size: 1em;
  }
  footer > p {
    width: 30%
  }
}

@media only screen and (max-width: 851px) {
  .logo{
    width: 60%;
  }
  .web-nav {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .detail-article{
    background-color: unset;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    width: 50%;
    border: unset;
  }
  footer > p {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 551px) {
  .logo{
    width: 80%;
  }
  .search-container {
    display: none;
  }
  .lens-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .lens-logo {
    width: 20px;
  }
  .cards-container {
    font-size: 0.9em;
    padding: 2em 3em;
  }

  .display-flex-center > form {
    font-size: 0.9em;
  }

  .footer-logo {
  width: 30px;
  margin-inline: 1em;
  }
}
@media only screen and (max-width: 489px) {
  .display-flex-center > form {
    width: 300px;
  }
}

@media only screen and (max-width: 335px) {
  .detail-card {
    font-size: 0.9em;
  }
  .detail-card > img {
    width: 200px;
  }
}

@media only screen and (max-width: 335px) {

  .cards-container {
    font-size: 0.7em;
  }

  .card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .display-flex-center > form {
    font-size: 0.9em;
  }
}
